
mixin collapse(id, head, title)
  .panel-heading(id = head role='tab')
    a.collapsed.dropdown-item(class=(identifikator==id)?'dropdown_active':null, data-parent='#' + head, href=id, aria-expanded='false', aria-controls=id) !{title}
      i.fa.fa-angle-down(aria-hidden='true')
  .panel-collapse.collapse(id=id role='tabpanel', aria-labelledby=head)


#accordion(role='tablist', aria-multiselectable='true')
  .panel.panel-default
    #heading7.panel-heading(role='tab')
      if technics || subPage || mainTechnicPage
        a.sub_menu.active.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse7', aria-expanded='false', aria-controls='collapse7') Спецтехника
          i.fa.fa-angle-down(aria-hidden='true')
      else
        a.sub_menu.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse7', aria-expanded='false', aria-controls='collapse7') Спецтехника
          i.fa.fa-angle-down(aria-hidden='true')
      #collapse7.panel-collapse.my_dropdown.collapse(role='tabpanel', aria-labelledby='heading7')
        +collapse('/technics/autokrans.html', 'autokranHead', 'Автокраны')
        +collapse('/technics/manipulators.html', 'mnpltrHead', 'Манипуляторы')
        +collapse('/technics/mini-pogruzchiki.html', 'minHead', 'Мини-погрузчики')
        +collapse('/technics/mini-excavatory.html', 'mineHead', 'Мини-экскаваторы')
        +collapse('/technics/samosvals.html', 'samosvalHead', 'Самосвалы')
        +collapse('/technics/teleskopicheskie-pogruzchiki.html', 'teleskPogrHead', 'Телескопичеcкие погрузчики')
        +collapse('/technics/frontalnye-pogruzchiki.html', 'frontPogruzHead', 'Фронтальные погрузчики')
        +collapse('/technics/excavatory-gusenichnye.html', 'ekskGusenichHead', 'Экскаваторы гусеничные')
        +collapse('/technics/excavatory-kolesnye.html', 'ekskKolesHead', 'Экскаваторы колесные')
        +collapse('/technics/excavatory-pogruzchiki.html', 'ekskPogrHead', 'Экскаваторы погрузчики')
        

    


  